body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background-color: #1a1a1a;
    color: #eee;
}

/* padding for width control in*/

main {
   /* padding: 2rem;*/
   background-color: transparent;

}


