#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.app-logo {
  height: 20px;
  padding: 1px;
  will-change: filter;
  transition: filter 300ms;
}
.app-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.app-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .app-logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* --- Navbar --- */
.logo {
  font-size: 18px;       /* Brand SIze */
  font-weight: 600;
  letter-spacing: 0.5px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
.logo:hover {
  color: #61dafb;
}

/* Default Card */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
