.navbar {
    display: flex;
    align-items: center; 
    background-color: #0b0c10;
    color: #ffffff;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 2rem;
    /* gap between menu */
    margin: 0;
    padding: 0;
}

.navLinks li {
    display: inline;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.navLinks a:hover {
    color: #66fcf1;
}